{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<section class="section-items">
    <h2>Latest Items</h2>
    <div class="item-list">
        {% for item in latest_items %}
        <article class="item">
            <a href="{{ url_for('show_item', id=item.id) }}" class="item-title"><h3>{{ item.name }}</h3></a>
            <small>By <a href="{{ url_for('show_user_items', id=item.user.id) }}">{{ item.user.name }}</a></small>
            {% if item.has_picture() %}
            <a href="{{ url_for('show_item', id=item.id) }}" class="item-picture"><img src="{{ item.get_picture_url() }}" alt=""></a>
            {% endif %}
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}