{% extends "layout.html" %}
{% block title %}
    {% if action == 'create' %}
    Add Item
    {% else %}
    Edit Item
    {% endif %}
{% endblock %}
{% block body %}
<section class="section-form">

    {% if action == 'create' %}
    <form class="form item-form card" method="POST" action="{{ url_for('edit_item') }}" enctype="multipart/form-data">
        <h2>Add Item</h2>
    {% else %}
    <form class="form item-form card" method="POST" action="{{ url_for('edit_item', id=item.id) }}" enctype="multipart/form-data">
        <h2>Edit Item</h2>
    {% endif %}

        <input type="hidden" name="_csfr_token_" value="{{ token }}">

        <div class="form-control">
            <label for="item_name">Item Name</label>
            <input type="text" id="item_name" name="name" {% if item.name %}value="{{ item.name }}"{% endif %}>
        </div>

        <div class="form-control">
            <label for="item_desc">Description</label>
            <textarea id="item_desc" name="description" id="" cols="30" rows="10">{% if item.description %}{{ item.description.strip() }}{% endif %}</textarea>
        </div>

        <div class="form-control">
            <label><input type="checkbox" name="should_upload"
                id="check_should_upload" value="yes"
                {% if 'should_upload' in request.form %}checked{% endif %}
                > Upload Picture File?</label>
        </div>

        <div class="form-control" id="control_picture_link">
            <label for="item_picture_link">Picture Link</label>
            <input type="text" id="item_picture_link" name="picture_link" placeholder="http://..." value="{{ picture_link }}">
        </div>

        <div class="form-control" id="control_picture_file">
            <label for="item_picture_file">Picture File</label>
            <input type="file" id="item_picture_file" name="picture_file">
        </div>

        {% if item.has_picture() %}
        <figure>
            <img src="{{ item.get_picture_url() }}" alt="">
            <figcaption>{{ item.get_picture_url() }}</figcaption>
        </figure>
        {% endif %}

        <h3>Category</h3>
        {% for cat in categories %}
        <div class="form-radio">
            <input type="radio" name="category_slug" class="radio-cat"
            value="{{ cat.slug }}" id="cat_radio_{{ cat.slug }}"
            {% if cat.slug == item.category_slug %}checked{% endif %}>
            <label for="cat_radio_{{ cat.slug }}">{{ cat.title }}</label>
        </div>
        {% endfor %}
        <div class="form-radio">
            <input type="radio" class="radio-cat" name="category_slug"
            value="_new_" id="cat_radio_new">
            <input type="text" id="input_new_category_title" name="new_category_title" placeholder="New Category">
        </div>

        <div class="form-actions">
            <button type="submit" class="button">Save</button>
        </div>

    </form>
</section>
{% endblock %}
{% block scripts %}
<script>

    $('.radio-cat').change(function(){
        if(this.checked && this.value === '_new_'){
            $('#input_new_category_title').prop('disabled', false);
        }else{
            $('#input_new_category_title').prop('disabled', true);
        }
    });

    $('#check_should_upload').change(function(){
        if(this.checked){
            $('#control_picture_link').hide();
            $('#control_picture_file').show();
        }else{
            $('#control_picture_link').show();
            $('#control_picture_file').hide();
        }
    });
    {% if 'should_upload' in request.form %}
    $('#control_picture_link').hide();
    {% else %}
    $('#control_picture_file').hide();
    {% endif %}
</script>
{% endblock %}