<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | Cat-alog</title>
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower|Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <header class="header">
        <a class="app-title" href="{{ url_for('show_home') }}">Cat-alog</a>

        {% if user != None %}
        <section class="userinfo">
            <span>Logged in as <em>{{ user.name }}</em></span>
            <img src="{{ user.picture }}">
        </section>
        {% endif %}
        <nav>
            <ul>
                {% if user != None %}
                <li>
                    <form action="{{ url_for('logout') }}" method="POST">
                        <button type="submit">Logout</button>
                    </form>
                </li>
                {% else %}
                <li><a href="{{ url_for('show_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>

    <main class="main">
        {% if g.show_sidebar %}
        <aside class="sidebar">
            <h3>Cat-egories</h3>
            <ul class="nav-list">
                {% for cat in categories %}
                <li class="nav-item"><a href="{{ url_for('show_item_category', slug=cat.slug) }}">{{ cat.title }}</a></li>
                {% endfor %}
            </ul>

            {% if user %}
            <h3>My Items</h3>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="{{ url_for('show_user_items', id=user.id) }}">View Items</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('edit_item') }}">Add Item</a>
                </li>
            </ul>
            {% endif %}
        </aside>
        {% endif %}
        {% block body %}{% endblock %}
    </main>


    <footer></footer>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-message-list">
                {% for message in messages %}
                <li class="flash-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>
        setTimeout(function(){
            $('.flash-message-list').hide(500);
        }, 4000);
    </script>
    {% block scripts %}{% endblock %}

</body>
</html>